
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
credentials.json
*.pfx
*.key


bin/
obj/
*.user
.vs/
.idea/
*.suo
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db